@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Välkomen till Srwas Matbutik</h1>

    <h3>Här kan du hitta allt ifrån frukter grönsaker och lite smått och gott!</h3>
</div>

<img src="img/img-background.jpg" class="img-background"/>